.drawer {
  width: 300px;
}

@media (min-width: 640px) {
  .drawer {
    width: 300px;
  }

}
@media (min-width: 768px) {

}

@media (min-width: 1024px){

}

@media (min-width: 1280px) {
  .drawer {
    width: 400px;
  }

}

@media (min-width: 1536px) {

}