.mmy-card{
  width: 200px;
}

@media (min-width: 640px) {
  .my-card {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .my-card {
    width: 300px;
  }
}

@media (min-width: 1024px){
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {

}