.custom-border{
  border-left-width: 0;
  border-right-width: 0;
}

h2 {
  @apply uppercase;
  color: theme('colors.hero-color');
}

p {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  color: theme('colors.text-color');
}

.techno-swiper{
  background-color: rgb(250 250 250);
}

.custom-slider{
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start;
  min-height: 8rem;
  gap: 10px;
}

.custom-slider .swiper-button-lock{
  display: none !important;
}
.custom-slider .swiper-button-prev{
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.custom-slider .swiper-button-next{
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.custom-slider .swiper-pagination{
  position: relative;
  bottom: 0 !important;
  padding: 10px 0 ;
}
.custom-slider .swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1930px) {
  .custom-border{
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .custom-border{
    border-left-width: 1px;
    border-right-width: 1px;
  }
}