@import "@fontsource/roboto";
@import "@fontsource/montserrat";
@import "@fontsource/mulish";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  font-feature-settings: "salt";
  background: rgb(248 248 248);
}

html, body, #root {
  display: flex;
  flex: 1 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Mulish, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}
