@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  @apply bg-gray-100;
  @apply antialiased
}

body {
  @apply h-full;
  @apply flex;
  @apply flex-col;
  background-color: rgb(250 250 250);
}


#root {
  @apply flex;
  @apply flex-1;
  @apply overflow-hidden;
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  src: url('../assets/font/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  src: url('../assets/font/Inter-italic.var.woff2') format('woff2');
}