.my-card {
  width: 8rem;
  margin: 0 10px;
}

.svg-fill-white {
  path {
    fill: white;
  }
}

.svg-avatar svg {
  width: 75%;
  height: 75%;
  margin: auto;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {

}