.my-card {
  --size-card: 200px;
  width: var(--size-card);
  height: var(--size-card);
}

.svg-fill-white {
  path {
    fill: white;
  }
}

.svg-avatar svg {
  width: 75%;
  height: 75%;
  margin: auto;
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .dev-card {
    --size-card: 140px;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dev-card {
    --size-card: 120px;
  }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .dev-card {
    --size-card: 100px;
  }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .dev-card {
    --size-card: 80px;
  }
}